ody {
    margin: 60px auto;
    width: 70%;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
		font-size:10pt;
}

nav ul li, footer ul li {
    display: inline;
    margin-right: 100px;
}
a {
    text-decoration: none;
    color: #999;
}

h1 {
    font-size: 40px;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
		text-align: center;
}
h2 {
    font-size: 25px;
    font-family:'Arial', 'Sans-Serif';
}
h3 {
    font-size: 21px;
    font-family:'Sans-Serif';
}

p {
    font-size: 1.2em ;
    line-height: 1.4em;
    color: black;
    font-family:'Helvetica';
}
blockquote {
    margin: 0;
}

blockquote p {
    padding: 15px;
    background: #eee;
    border-radius: 5px;
}

blockquote p::before {
    content: '\201C';
}

blockquote p::after {
    content: '\201D'
}
figcaption {
  font-family:'Helvetica';
}

footer {
    border-top: 1px solid #d5d5d5;
    font-size: 0.9em;
}
